.container {
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-rows: 10rem 1fr;
  justify-content: center;
  font-size: 1rem;
}

.button {
  width: 200px;
  height: 32px;
  background-color: rgb(176, 205, 206);
  justify-content: center;
  border: 30px;
  border-color: black;
}

.button:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff;
}

.button__container {
  display: flex;
  margin: auto;
  height: 32px;
  width: 800px;
  padding: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border-radius: 5px 5px;
  background-color: rgb(176, 205, 206);

  /* background-color: royalblue; */
}

.button__validation {
  background-color: rgb(176, 205, 206);
  height: 32px;
  border: 30px;
  /* position: absolute; */
  margin-left: 300px;
  border-radius: 8px;
}

.forms__design {
  border: 2px solid #f4f8f8;
  margin-top: 30px;
  border-radius: 8px;
  background-color: rgb(237, 239, 241);
  width: 100%;
  align-items: center;
  padding: 40px 80px;
}

.submit__button {
  margin-top: 24px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .forms__design {
    padding: 40px 80px;
    width: 600px;
  }

  .button__validation {
    margin-left: 450px;
  }
}
.background{
  background-image: url('./images/pexels-johannes-plenio-1103970.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  /* height: 100%; */
  

}